BasedOnStyle: LLVM
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
PointerAlignment: Left
ColumnLimit: 120